@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-black: #000000;
  --font-titulo: "Poppins", sans-serif;
  --font-subtitulo: "Roboto", sans-serif;
}
