.bikes-detalhe {
  background: #111111;
}

.container-detalhe {
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px 80px;
}

.preco-detalhe {
  color: #b2b2b2;
  font-family: var(--font-subtitulo);
  font-size: 2.25rem;
}

.container-detalhe .titulo {
  color: #ffffffff;
}

.grid-principal-detalhe {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50%;
  gap: 40px;
}

.grid-bikes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-bikes img {
  max-width: 100%;
}

.bike-selecionada {
  grid-column: 1 / 3;
}

.bloco-descricao {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  gap: 20px;
}

.grid-descricao-bike .descricao-bike {
  font-size: 1.5rem;
  max-width: 100%;
}

.sub-descricao {
  display: grid;
  gap: 5px;
}

.sub-descricao div {
  font-family: var(--font-subtitulo);
  padding: 4px 8px;
  color: #9c9c9c;
  background-color: #000000;
  border-radius: 5px;
}

.bikes-detalhe .equipamentos-bike {
  background: #000000;
  padding: 32px;
  margin-top: 68px;
  gap: 32px;
  border-radius: 5px;
  position: relative;
}

.sub-title-equip {
  color: #ffffff;
  font-size: 0.875rem;
  text-transform: uppercase;
  position: absolute;
  top: -30px;
}

.bikes-detalhe .equipamentos-bike h4 {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
}

.bikes-detalhe .equipamentos-bike p {
  color: #b2b2b2;
  font-size: 0.875rem;
}

.ficha-tecnica {
  background: #000000;
  padding: 32px;
  margin-top: 68px;
  gap: 32px;
  border-radius: 5px;
}

.ficha-tecnica ul {
  list-style: none;
}

.ficha-tecnica ul li {
  font-family: var(--font-subtitulo);
  padding-bottom: 10px;
  color: #cccccc;
  display: flex;
  justify-content: space-between;
}

.ficha-tecnica ul li:not(:last-child) {
  border-bottom: #111111 2px solid;
  margin-bottom: 12px;
}

.ficha-tecnica ul li span {
  color: #9c9c9c;
}

@media (max-width: 1150px) {
  .grid-principal-detalhe {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .bike-nao-selecionada {
    display: none;
  }
}
