.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-depoimento {
  width: 100%;
}

.container-paragrafo {
  background: #ffbb00;
  display: flex;
  justify-content: center;
  padding-left: 100px;
  flex-direction: column;
}

.texto-depoimento {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  font-size: 3rem;
  line-height: 4rem;
  color: #332200;
  margin-top: 100px;
  margin-bottom: 30px;
  position: relative;
  max-width: 550px;
}

.texto-depoimento::after {
  content: "";
  width: 40px;
  height: 35px;
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: url(/img/aspas.svg) no-repeat center;
}

.texto-depoimento::before {
  content: "";
  width: 40px;
  height: 35px;
  position: absolute;
  left: -50px;
  background: url(/img/aspas2.svg) no-repeat center;
}

.nome-depoimento {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #664400;
}

@media (max-width: 1800px) {
  .texto-depoimento {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media (max-width: 1500px) {
  .texto-depoimento {
    margin-top: 50px;
  }

  .texto-depoimento::after {
    right: 0px;
  }
}

@media (max-width: 1200px) {
  .container-paragrafo {
    padding-right: 100px;
  }

  .texto-depoimento {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 990px) {
  .texto-depoimento {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 20px;
  }
}

@media (max-width: 780px) {
  .depoimento {
    grid-template-columns: 1fr;
  }
}
