@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

@import url("./depoimento.css");
@import url("./diferencial.css");
@import url("./header.css");
@import url("./home-rodape.css");
@import url("./home-seguros.css");
@import url("./introducao.css");
@import url("./parceiros.css");
@import url("./selecao-bike.css");
@import url("/css/pagina-bicicletas/intro-bicicletas.css");
@import url("/css/pagina-bicicletas/bikes.css");
@import url("/css/bicicletas-page2/bike-detalhe.css");

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-black: #000000;
  --font-titulo: "Poppins", sans-serif;
  --font-subtitulo: "Roboto", sans-serif;
  --font-1: #ffffff;
  --font-2: #b2b2b2;
}

.font-1 {
  color: var(--font-1);
}

.font-2 {
  color: var(--font-2);
}
