* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-black: #000000;
  --font-titulo: "Poppins", sans-serif;
  --font-subtitulo: "Roboto", sans-serif;
  --font-1: #ffffff;
  --font-2: #b2b2b2;
}

.font-1 {
  color: var(--font-1);
}

.font-2 {
  color: var(--font-2);
}

.font-t {
  font-family: var(--font-titulo);
}

.font-st {
  font-family: var(--font-subtitulo);
}
