.header {
  background: var(--bg-black);
}

.container-header {
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.logo-header {
  max-width: 100%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2.5rem;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.menu li a::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 0%;
  background: #ffffff;
  transition: 0.3s;
}

.menu li a:hover {
  color: var(--font-2);
}

.menu li a:hover::after,
.menu a.ativo::after {
  width: 100%;
}

@media (max-width: 900px) {
  .header {
    padding: 2rem 5rem;
  }
}
