.seguros {
  font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background: #111111;
}

.container-seguros {
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px 80px;
}

.subtitulo {
  font-family: var(--font-subtitulo);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #b2b2b2;
}

.seguros .titulo {
  color: #ffffff;
}

.container-blocos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px;
}

.blocos-seguros {
  background: #000000;
  padding: 32px 64px;
  color: #ffffffff;
  border-radius: 5px;
}

.blocos-seguros div {
  display: flex;
  justify-content: space-between;
}

.titulo-prata {
  font-size: 2.25rem;
  color: #9c9c9c;
  padding-right: 50px;
}

.preco {
  font-size: 2.25rem;
  font-weight: 600;
}

.lista-bloco {
  list-style: none;
  font-size: 1.125rem;
}

.lista-bloco li:nth-child(n + 2) {
  margin-top: 20px;
}

.lista-bloco li {
  position: relative;
}
.lista-bloco li::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  background: url("/img/Vector-ok.svg") no-repeat;
  left: -20px;
  top: 10px;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  margin-top: 32px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: transform 0.3s;
}

.botao:hover {
  transform: scale(1.1);
}

.cor-bota-prata {
  color: #cccccc;
  background: #2e2e2e;
}

.titulo-ouro {
  font-size: 2.25rem;
  color: #ffbb00;
}

.cor-bota-ouro {
  color: #332200;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.blocos-seguros a {
  text-decoration: none;
}

@media (max-width: 1140px) {
  .blocos-seguros div {
    flex-direction: column;
    gap: 10px;
  }
  .preco {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .botao {
    padding: 12px 24px;
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .container-blocos {
    grid-template-columns: 1fr;
    padding-left: 0px;
  }
}
