#introducao {
  background: #000000;
  padding: 0px 80px;
}

.container-introducao {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 88px;
}

#introducao div {
  color: #ffffff;
  padding-top: 40px;
}

.titulo {
  font-family: var(--font-titulo);
  font-size: 4rem;
  line-height: 72px;
}

.titulo span {
  color: #ffbb00;
}

#introducao .paragrafo-introducao {
  font-family: var(--font-subtitulo);
  font-size: 1.8rem;
  margin: 32px 0 40px 0;
  color: #b2b2b2;
}

.botao-introducao {
  padding: 15px 30px;
  border-radius: 4px;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  text-decoration: none;
  text-transform: uppercase;
  color: #332200;
  font-family: var(--font-titulo);
  font-weight: 500;
  font-size: 1rem;
}

.bike-intro {
  max-width: 100%;
  position: relative;
  top: 40px;
}

@media (min-width: 1920px) {
  .titulo-introducao {
    font-size: 5rem;
    line-height: 92px;
  }

  .paragrafo-introducao {
    font-size: 2rem;
    line-height: 40px;
  }
}

@media (max-width: 1470px) {
  .titulo {
    font-size: 3.5rem;
    line-height: 68px;
  }

  #introducao .paragrafo-introducao {
    font-size: 1.5rem;
  }
}

@media (max-width: 1160px) {
  .container-introducao {
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  }

  .bike-intro {
    display: none;
  }
}
