#parceiros {
  max-width: 1300px;
  margin: 0 auto;
  padding: 220px 80px;
}
.conteiner-parceiros {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

.conteiner-parceiros li {
  padding: 32px;
  display: flex;
  border-right: 2px solid #ededed;
}

.conteiner-parceiros li:last-child,
.conteiner-parceiros li:nth-child(4) {
  border-top: none;
  border-right: none;
}

.conteiner-parceiros li:nth-child(n + 5) {
  border-top: 2px solid #ededed;
}

.img-parceiros {
  margin: auto;
  max-width: 100%;
}

@media (max-width: 800px) {
  .conteiner-parceiros {
    grid-template-columns: 1fr 1fr;
  }

  .conteiner-parceiros li:nth-child(n + 3) {
    border-top: 2px solid #ededed;
  }

  .conteiner-parceiros li:last-child,
  .conteiner-parceiros li:nth-child(2),
  .conteiner-parceiros li:nth-child(4),
  .conteiner-parceiros li:nth-child(6) {
    border-right: none;
  }
}
