.bicicletas {
  padding: 220px 80px 0px 80px;
  max-width: 1300px;
  margin: 0 auto;
}

.bicicletas .titulo {
  margin-bottom: 50px;
}

.selecao-bike {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 0px 70px;
}

.bike-option h2 {
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
  position: relative;
}

.bike-option h2::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 8px;
  background: #ffbb00;
  left: 2px;
  top: 15px;
}

.bike-option span {
  color: #595959;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
}

.bike-option img {
  max-width: 100%;
  transition: transform 0.5s;
}

.bike-option img:hover {
  transform: scale(1.02);
}

@media (max-width: 850px) {
  .selecao-bike {
    grid-template-columns: 1fr;
  }
}
