body {
  background: #f7f7f7;
}

.contato-header {
  background: #111111;
}

.contato-header .titulo {
  color: #ffffff;
}

.intro-contato {
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px;
}

.bloco-contato {
  background: linear-gradient(to top, #f7f7f7 30%, #111111 0%);
}

.container-bloco-contato {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.dados-contato,
.formulario-contato {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.dados-contato {
  background-color: #000000;
  border-radius: 5px 0 0 5px;
}

.formulario-contato {
  border-radius: 0 5px 5px 0;
}

.dados-contato h4 {
  color: #ffffff;
  font-family: var(--font-titulo);
  font-size: 1rem;
  margin-bottom: 60px;
}

.dados-contato ul {
  list-style: none;
}

.dados-contato li {
  color: #cccccc;
  font-size: 1rem;
  font-family: var(--font-subtitulo);
}

.email a {
  text-decoration: none;
  font-style: normal;
}

.email a :hover {
  color: #ffffff;
}

.bloco-dados {
  display: flex;
  margin-bottom: 30px;
}

.bloco-dados img {
  max-width: 100%;
  display: inline-block;
}
